In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')
df = pd.read_csv('proje.csv')

In [4]:
df.head()

     Adı  Departman  Yas  DogumYeri
0    Ali         IT   35      Bursa
1   Ayşe  Pazarlama   40     Ankara
2    Can  Pazarlama   24     Ankara
3  Selin         IT   32  Eskişehir
4   Mert         IT   42    Kocaeli

In [8]:
df.columns

Index(['Adı', 'Departman', 'Yas', 'DogumYeri'], dtype='object')

In [9]:
df.shape

(6, 4)

In [10]:
df['Departman']

0           IT
1    Pazarlama
2    Pazarlama
3           IT
4           IT
5    Pazarlama
Name: Departman, dtype: object

In [12]:
df.Departman.unique()

array(['IT', 'Pazarlama'], dtype=object)

In [15]:
df.dtypes

Adı          object
Departman    object
Yas           int64
DogumYeri    object
dtype: object

In [16]:
df.mean()

Yas    33.5
dtype: float64